<div class='container'>
    <div class='row' id='box'>
        <div class='shadow'></div>
        <div class='span12'>
            <img src='http://placehold.it/300x900' />
        </div>
    </div>
</div>
