.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#box {
  padding-left: 20px;
  margin-left: -20px;
  padding-right: 20px;
  margin-right: -20px;
  position: relative;
}
@media (min-width: 768px) {
  #box {
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background-color: white;
    padding-top: 20px;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(500px, #f5f5f5), to(#f5f5f5));
    background-image: -webkit-linear-gradient(#ffffff, #f5f5f5 500px, #f5f5f5);
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5 500px, #f5f5f5);
    background-image: -ms-linear-gradient(#ffffff, #f5f5f5 500px, #f5f5f5);
    background-image: -o-linear-gradient(#ffffff, #f5f5f5 500px, #f5f5f5);
    background-image: linear-gradient(#ffffff, #f5f5f5 500px, #f5f5f5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  }
  #box:after {
    content: "";
    display: block;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  }
}
#overview {
  padding-top: 20px;
}
#overview h1 {
  font-size: 34px;
  line-height: 1.2em;
  color: #555;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}
#overview p {
  color: #909090;
  font-size: 18px;
  line-height: 1.25em;
}
#overview br {
  height: 0;
  line-height: 0;
}
#overview #error {
  display: none;
}
#overview #error p {
  color: #B94A48;
  margin: 0px;
}
#overview #submitted {
  display: none;
}
#overview #submitted p {
  color: #468847;
  margin: 0px;
}
#overview #spinner {
  display: none;
}
@media (min-width: 768px) {
  #overview form {
    margin-top: 2em;
  }
}
#overview form label {
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  color: #777777;
}
#overview form input {
  width: 75%;
  font-size: 1.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
#overview form button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 1em;
  font-size: 19px;
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  background-color: #f78706;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fb9b2d), color-stop(33%, #fa8908), to(#ec7e00));
  background-image: -webkit-linear-gradient(#fb9b2d, #fa8908 33%, #ec7e00);
  background-image: -moz-linear-gradient(top, #fb9b2d, #fa8908 33%, #ec7e00);
  background-image: -ms-linear-gradient(#fb9b2d, #fa8908 33%, #ec7e00);
  background-image: -o-linear-gradient(#fb9b2d, #fa8908 33%, #ec7e00);
  background-image: linear-gradient(#fb9b2d, #fa8908 33%, #ec7e00);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9b2d', endColorstr='#ec7e00', GradientType=0);
  background-color: #ec7e00;
  -webkit-transition: background-position 0.2s linear;
  -moz-transition: background-position 0.2s linear;
  -ms-transition: background-position 0.2s linear;
  -o-transition: background-position 0.2s linear;
  transition: background-position 0.2s linear;
}
#overview form button:hover {
  background-position: 0 -48px;
}
@media (min-width: 480px) and (max-width: 767px) {
  #overview #copy {
    width: 60%;
    float: left;
  }
  #overview #emailForm {
    width: 35%;
    float: left;
    margin-left: 10px;
  }
  #overview #emailForm input {
    width: 100%;
  }
}
#features {
  padding-bottom: 30px;
}
#features h1 {
  border-top: 1px dotted #909090;
  padding: 1em 0 0.5em;
  text-align: center;
  color: #777777;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#features .feature {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
#features .feature img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#features .feature:nth-child(2) {
  color: #42b955;
}
#features .feature:nth-child(3) {
  color: #f79321;
}
#features .feature:nth-child(4) {
  color: #f26424;
}
#features .feature:nth-child(5) {
  color: #8dc73d;
}
#features .feature:nth-child(6) {
  color: #46b0ca;
}
#features .feature:nth-child(7) {
  color: #01a89e;
}
@media (min-width: 480px) and (max-width: 767px) {
  #features .span2 {
    width: 30%;
    float: left;
    height: 125px;
    margin-left: 10px;
  }
}
@media (max-width: 479px) {
  #features .span2 {
    width: 45%;
    float: left;
    height: 125px;
    margin-left: 10px;
  }
}
