@import "bootstrap/bootstrap.less";

@import "bootstrap/responsive.less";

// Sticky footer =======================
@footerHeight: 30px;

html, body {
    height: 100%;
    min-height: 100%;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 10px + @footerHeight;
    clear: both;
}

footer {
    position: relative;
    margin-top: 0 - @footerHeight;
    height: @footerHeight;
    clear: both;
} 
// =====================================

@orange: #f69a2b;

body {
    background-image: -webkit-linear-gradient(left, fade(@bodyBackground, 0%) 0%, @bodyBackground 25%, @bodyBackground 75%, fade(@bodyBackground,0%)),
                      url('/img/background.png');
    background-image: -moz-linear-gradient(left, fade(@bodyBackground, 0%) 0%, @bodyBackground 25%, @bodyBackground 75%, fade(@bodyBackground,0%)),
                      url('/img/background.png');
    background-image: -o-linear-gradient(left, fade(@bodyBackground, 0%) 0%, @bodyBackground 25%, @bodyBackground 75%, fade(@bodyBackground,0%)), 
                      url('/img/background.png');
    background-image: -ms-linear-gradient(left, fade(@bodyBackground, 0%) 0%, @bodyBackground 25%, @bodyBackground 75%, fade(@bodyBackground,0%)), 
                      url('/img/background.png');
    background-image: linear-gradient(left, fade(@bodyBackground, 0%) 0%, @bodyBackground 25%, @bodyBackground 75%, fade(@bodyBackground,0%)), 
                      url('/img/background.png');

    background-repeat: repeat-y, repeat-x;
    //#gradient > .vertical-three-colors(#f1f1f1, @Background, 600px, @bodyBackground);
}

header {
    #logo img {
        margin: 30px 0;
    }

    #tagline {
        text-align: right;
        color: @grayLight;
        font-size: 20px;

        p {
            margin: 20px 0;
        }
    }

    @media (max-width: 767px) {
        #logo img {
            margin: 30px 0 0;
        }

        #tagline {
            p { margin-top: 0}
        }
    }
}

footer {
    > div {
        padding-top: 10px;
        border-top: 1px solid @grayLight;
    }

    font-family: @thickFont;
    text-transform: uppercase;
    color: @gray;
}

